body {
    font-family: Arial, sans-serif;
     margin: 0;
    padding: 0;
}

.section {
    display:grid;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8eef0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    }
h1 {
    text-align: center;
    color:orangered;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color:blue;
    font-size:20px;
    font-weight:15px;
}

.entry-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding:10px 10px;
    height:50px;
    justify-content:center;
    
}

#entries {
    list-style-type: none;
    padding: 10px;
}

#entries li {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-bottom: 1px solid #ddd;
    background-color:aliceblue;
}

.filters {
    display: flex;
    flex-direction:row;
    gap: 50px;
    align-items:center;
    justify-content:center;
    padding:20px;
    font-size:20px;
    color:brown;

}
.btn{
    padding:20px;
    display:flex;
    gap:25px;
    height:30px;
    justify-content: center;
    border-radius:5px;
    }
